#formContainer>form {
    min-width: 200px;
    margin-left: 7%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 5%;


}

.form-group>.form-control {}

.footer {
    margin-top: 100%;

    width: 100%;
    color: white;
    background-color: white;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23ff8926' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23fe7739' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f86649' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23ed5857' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23df4d62' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ce466b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23ba4172' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23a43f76' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%238d3e77' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23763d74' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%235f3a6f' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23493766' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2335335c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23232e4f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23162741' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230d2032' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23091924' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;


}

.navbar-nav {
    margin-left: 1.4%;
}

#formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#formContainer>#form-beside {

    color: white;
    margin-top: 15%;
    padding-right: 20%;
}


@media only screen and (max-width: 600px) {
    body {
        background-size: 200% 200%;
        overflow-x: hidden;

    }

    #formContainer>#form-beside {
        display: none;
    }

    #form {
        padding-top: 5%;
        padding-left: 13%;
    }
    .footer{
        margin-top: 100%;

    }

}