<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kiwiweb Online Web Development Pricing</title>
  <link rel="shortcut icon" type="image/ico" href="./favicon.ico">
  <meta name="keywords"
    content="KiwiWeb web development price, information web developmet process, web development cost">
  <meta name="description"
    content="You can learn what you need to develop a website and you can estimate your draft cost">

  <link rel="stylesheet" href="webdev.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="./images/logo2.png" alt="logologo2" height="70" width="70">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="webdev">Web Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mobileAppPrice">Mobile Development</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">How much money should I pay to get a Website ?</h1>
    <p class="lead">Get a quick summary of how much it costs to build and make a website Developers first make a website
      from scratch. However, this option is quite difficult for those without technical knowledge.

      However, there are software (ing) such as content management systems and drag-and-drop website building tools that
      facilitate website setup.

      Costs will vary from one option to another. For example, if you choose WordPress as your web builder, you may need
      to invest in themes, plugins and other features.</p>
    <hr class="my-4">
    <p>


      View the average cost for upfront and ongoing website expenses, by business type, below.

    </p>
  </div>

  <ul class="list-unstyled">
    <li class="media">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1"> Domain Name</h5>
        Domain name is the address people write to enter your site. These addresses point to the server where the
        information is stored in the internet browser. Without a domain name, people can only access your site by
        entering your server's IP address - this is not a practical method as IP addresses are made up of long numbers.
        it costs around $10-25 annually to purchase and hold a domain name <br>
        <button type="button" class="btn btn-warning">
          Annual <span class="badge badge-light">15$/1000$</span>
          <span class="sr-only">unread messages</span>
        </button>
      </div>

    </li>
    <li class="media my-4">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1">SSL Certificate </h5>
        SSL creates an encrypted communication between the web server and the visitor's web browser, ensuring that all
        private, sensitive or confidential information is transmitted securely without being exposed to various
        cyber-attacks. If the required SSL is present on a website, all information exchanged between the web browser
        and the server of the website is encrypted and only the owner of the website can see it.
        <p>
          <button type="button" class="btn btn-warning">
            Annual <span class="badge badge-light">0$/1800$</span>
            <span class="sr-only">unread messages</span>
          </button>
        </p>
      </div>
    </li>
    <li class="media">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Website Hosting </h5>
        The web server is a physical machine that hosts the files and databases on which your website was created and
        transmits these files to them when someone wants to visit your site. It is a mandatory need to make your website
        available on internet
        <p>
          <button type="button" class="btn btn-warning">
            Annual <span class="badge badge-light">24$/10000$</span>
            <span class="sr-only">unread messages</span>
          </button>
        </p>

      </div>
    </li>


    <li class="media">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Ecommerce Functionality</h5>
        Although it is now easier to set up an e-commerce site and own an online store, online sales also have different
        dynamics compared to physical stores and traditional sales channels.

        Do you want to set up your own e-commerce site; however, if you do not know much about this subject, we share
        with you all the information you need to know about setting up an e-commerce site.
        <p>
          <button type="button" class="btn btn-warning">
            Annual <span class="badge badge-light">250$/1500$</span>
            <span class="sr-only">unread messages</span>
          </button>
        </p>
      </div>
    </li>
    <li class="media my-4">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Content Management System (CMS)</h5>
        Content management system is something you will definitely want. You ask why? Because content management systems
        enable you to manage the content of your website without having to deal with codes.

        Content management systems make life easier for commercial businesses, as they enable updating of the content
        independent of coding. If you see the process of changing website content without a content management system,
        you will understand how logical it is to use these systems and how much easier it is to make things easier.
        <p>
          <button type="button" class="btn btn-warning">
            Annual <span class="badge badge-light">0$/35000$</span>
            <span class="sr-only">unread messages</span>
          </button>
        </p>
      </div>
    </li>

    <li class="media">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Website Maintenance</h5>
        A website maintenance plan is an ongoing premium service to keep the website up-to-date. This usually includes
        the website's WordPress core, plugins, and themes. ... For example, the website will also need to be tested and
        improved. Many maintenance plans include backups and site monitoring.
        <p>
          <button type="button" class="btn btn-warning">
            Annual <span class="badge badge-light">100$/2000$</span>

            <span class="sr-only">unread messages</span>
          </button>
        </p>
      </div>


    </li>


    <li class="media">
      <svg class="bi bi-check-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Freelancer, Agency, or Website Builder</h5>
        There are couple ways to make your website come true.
        You are free to choose the way to develop yourwebsite
        <p>
          <button type="button" class="btn btn-warning">
            Website Builder - Monthly <span class="badge badge-light">0$/30$</span>

            <span class="sr-only">unread messages</span>
          </button></p>
        <p>
          <button type="button" class="btn btn-warning">
            Freelancer - Hourly <span class="badge badge-light">50$/100$</span>
            <span class="sr-only">unread messages</span>
          </button></p>
        <p>
          <button type="button" class="btn btn-warning">
            Web Design Agency - Monthly <span class="badge badge-light">100$/500$</span>
            <span class="sr-only">unread messages</span>
          </button>
        </p>
      </div>
    </li>

  </ul>



  <footer class="footer mt-auto py-3">

    <div class="container">

      <span class="text-muted"> | 242 Penetanguishine Road, l4m7c2 ON CA | Kiwiwebconsultancy@gmail.com</span> <img
        src="./images/logo2.png" alt="logologo2" height="35" width="35">

    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>




</body>



</html>